body{
    background-color: rgb(03, 30, 57);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.ulnav{
    background-color:rgb(72, 15, 15);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
  
.logonav {
    justify-content: flex-start;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

.title {
    float: right;
    margin-top: 42px;
    margin-right: -30px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(72, 15, 15);
    padding: 10px;
}

footer {
    background-color:rgb(72, 15, 15);
    color: white;
    padding: 20px;
    position: sticky;
    text-align: center;
    margin-top: 400px;
    height: auto;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#ulfooter{
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.lihover:hover{
    color: #fff;
    background-color: rgb(72, 15, 15);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}